<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/7185ecdf37.js" crossorigin="anonymous"> </script>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="style3.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<header>
    <div class="logo-div">
    <img  src="\images\logo-mercado-liebre.svg" class="logo">
    </div>
    <p class="buscar">buscar productos,marcas</p>
    <div> 
       <i class="fa-solid fa-magnifying-glass"></i>
    </div>   
     <p class="icono-principal"><i class="fa-solid fa-hand-holding-dollar"></i> compra en cuotas y sin tarjeta de credito</p>

<div class="opciones-1">
    <ul>
        
            <li><a href="">ofertas</a></li>
            <li><a href="">tiendas oficiales</a></li>
            <li><a href="">vender</a></li>
            <li><a href="">ayuda</a></li>
    
        
    </ul>
</div>
<div class="opciones-2">
    <ul>
        
            <li><a href="">crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
            <li><a href="">ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>    

        
    </ul>
</div>
<div class="burger-menu">
    <i class="fas fa-bars"></i>

</div>

</header>



    <main>
        <div class="">
            <img src="\images\img-home-banner.jpg" alt="" class="banner">
        </div>

        <h2 class="titulo" >basado en tu última visita</h2>
        <div class="seccion01">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="articulo" class="articulo">
                <div class="descripcion">
                    <div><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$6.770</p>   
                <p class="descuento">40%OFF</p>
                <p class="descripcion-articulo"> Cafetera Moulinex</p>
                </div>

            </article>
            <article>
                
                <img src="/images/img-macbook-pro-2019.jpg" alt="articulo" class="articulo">
                <div class="descripcion">
                    <div><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$230.000 </p>
                <p class="descuento">20% off </p>
                <p class="descripcion-articulo">MacBook Pro 2019 </p>
            </div>
            </article>
            <article>
            
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="articulo" class="articulo">
                <div class="descripcion">
                    <div><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion-articulo">Samsung Galaxy S10</p>
            </div>
           
            </article>
        <article>
            
                <img src="/images/img-tv-samsung-smart.jpg" alt="articulo" class="">
                <div class="descripcion">
                    <div class="muñequito-verde"><i class="fa-solid fa-truck"></i></div>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion-articulo">SmartTv Samsung 43"</p>
                </div>
            
        </article>
        </div>
        <h2 class="titulo">seccion de ofertas</h2>
        <div class="seccion01">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div>
                <p class="precio">$6.770</p>   
                <p class="descuento">40%OFF</p>
                <p class="descripcion"> Cafetera Moulinex</p>
            </div>
            
            </article>
            <article>
                
                    <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div>
                    <p class="precio">$230.000 </p>
                    <p class="descuento">20% off </p>
                    <p class="descripcion">MacBook Pro 2019 </p>
                </div>   
                   
                </article>
            <article>
                
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Samsung Galaxy S10</p>
                
            </article>
            <article>
                
                    <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
            
                
            </article>
        </div>

    </main>

<footer>
<div class="centrar">
    <div class="footer">
    <i class="fa-solid fa-credit-card"></i>
    <h2>Pagá con tarjeta o en efectivo</h2>
    <br>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="footer">
    <i class="fa-solid fa-gift"></i>
    <h2>Envío gratis desde $ 2.500</h2>
    <br>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="footer">
    <i class="fa-solid fa-user-shield"></i>
    <h2>Seguridad, de principio a fin</h2>
    <br>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </div> 
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</div>
</footer>
</body>
</html>