header{
    padding-bottom: 30px;
}
.logo{
    height: 35%;
    width: 50% ;
    margin: 0px 30px;
    margin-top: 90px;
}
.banner{
    margin-bottom: 0%;
    width: 100%;
    height: auto;
    background-color: #ebebeb;
}

    

.logo-div{
    
    margin-left:50px ;
    

}
.fa-bars{
   width:60px ;
   height: 47px;
   padding: 5px 3px ;
   
    border-radius:7px ;
    text-align: center;

}
.burger-menu{
    text-align: center;
}
.buscar{
    width:35% ;
    height:35px ;
    margin:20px 80px  ;
    padding: 5px 0px;

    border-radius:5px ;
    font-size:25px ;
    border:solid #666 2px;
    
}
.principal{
    padding:100px ;
    text-align: left;
    background-color: #ebebeb;;
    height: max-content;
}
.articulo{

width: 650px;

}

article{
     
    width: 90%;
    text-align: center;
    padding: 0%;
    margin: auto;
    margin-bottom: 10px ;
    background-color: white;
    box-sizing: content-box;
}
.descripcion{
    border-top:solid #ebebeb 1px ;
    padding: 15px;
    text-align: left;

}
.icono-principal{
    text-align: center;
}
.opciones-1,.opciones-2{
    text-align: left;
    display: none;
}
footer{
    text-align: center;
    background-color:#666;
}
.fa-truck{
    border-radius: 50px;
    border:solid #39b54a 1px;
    font-size: 2em;
    padding:10px;
}
.muñequito-verde{
    
}
.seccion01{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}
.fa-magnifying-glass{
    padding: 10px;
    font-size: 1em;
    border: solid black 2px;
}
.titulo{
    margin-left:15px ;
}
.footer{
    margin-top: 150px;
}
.centrar{
    background-color: white;
    width:98% ;
    padding: 5px; ;
}
@media(mim)